<div
  class="flex flex-col bg-white shadow-lg rounded-lg overflow-hidden w-80 m-5"
>
  <img
    [src]="car.image[0]"
    [alt]="car.model"
    class="w-full h-56 object-cover cursor-pointer"
    (click)="navigateToDetails(car.id)"
  />
  <div class="p-4 flex flex-col h-full">
    <p class="text-gray-500 uppercase text-xs">{{ car.brand }} <span class="uppercase font-bold text-black text-lg">{{car.model}}</span></p>
    <p class="text-gray-500 text-sm">{{ car.typeOfEngine }}</p>
    <p class="text-gray-400 uppercase text-xs mt-1">Motorização</p>
    <div class="text-sm text-gray-600">
      <p><span class="text-lg font-bold">Valor:</span> <span class="font-bold text-black"> {{ car.price }} R$</span></p>
      <p>
        <span class="text-lg font-bold">Ano/Modelo:</span>
        {{ car.yearOfManufacture + "/" + car.yearOfProduction }}
      </p>
      <p><span class="text-lg font-bold">Localidade:</span> {{ car.localization }}</p>
    </div>
    <button
      class="w-full bg-red-500 text-white py-2 rounded hover:bg-red-600"
      (click)="navigateToDetails(car.id)"
    >
      Detalhes
    </button>
  </div>
</div>
